body{
    background-color: rgb(96, 221, 194);
    color: black;
    text-align: center;
}
h1{
    color: rgba(22, 20, 187, 0.986);
    font-size: 5.625em;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    line-height: 2;
    
}
h2{
    color:rgba(22, 20, 187, 0.986) ;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;  
    padding: 10px;
}
h3{
    color: #2108b1;
}
hr{
    color:black;
    border-style: dashed 6px;
    border-bottom:none ;
    width: 6%;
 margin: 100px auto;
}
a{
    color: #2108b1;
   font-family:  'Montserrat', sans-serif;
   margin: 10px 20px;
   text-decoration: none;
}
a:hover{
    color:lightcyan ;
}
.top-container{
    color: black;
    top: 100px;
    position: relative;
}
.middle-container{
    margin: 100px;
}
.bottom-container{
background-color: #3918f3;
padding: 50px 0 20px;
}

.skill-row{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
}
p{
    line-height: 2;
}
.procurement-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.developer-img{
    width: 25%;
    float: right;
    margin-left:  30px; ;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
.copyright{
   color: lightcyan; 
   font-size: 0.75rem;
   padding:20px 0 ;
}
.btn {
    background:      #2108b1;
    background-image: -webkit-linear-gradient(top,      #2108b1, #002B5B);
    background-image: -moz-linear-gradient(top,      #2108b1, #002B5B);
    background-image: -ms-linear-gradient(top,      #2108b1, #002B5B);
    background-image: -o-linear-gradient(top,      #2108b1, #002B5B);
    background-image: linear-gradient(to bottom,      #2108b1, #002B5B);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family:'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #42855B;
    background-image: -webkit-linear-gradient(top, #42855B, #D36B00);
    background-image: -moz-linear-gradient(top, #42855B, #D36B00);
    background-image: -ms-linear-gradient(top, #42855B, #D36B00);
    background-image: -o-linear-gradient(top, #42855B, #D36B00);
    background-image: linear-gradient(to bottom, #42855B, #D36B00);
    text-decoration: none;
  }

.Micah{
    text-decoration: underline;
}
.intro{
    width: 30%;
    margin: auto;
}
.top-cloud{
    position: absolute;
    right:500px;
    top: 10px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}